body {
    background-color:silver;
}
.university {
    margin-left:10px;
    margin-right:53%;
    background-color: saddlebrown;
    border-style: ridge;
    border-width: thick;
    text-align: center;
    border-color:dimgray;
}
.motto {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    width: 30%;
    border-style: double;
    border-width: thick;
}
.master {
    border-style: double;
    margin-left: 35px;
    margin-bottom: 600px;
    background-color: white;
}
.undergrad {
    border-style: double;
    margin-left: 10px;
    background-color:white;
}
.doctorate {
    border-width: thick;
    border-style: double;
    margin-right: 10px;
    background-color:white;
}
.message {
    border-style:groove;
    border-width: thick;
    text-align: center;
    border-color: saddlebrown;
    line-height: 150%;
    margin-left: 30px;
    margin-right: 30px;
}
.students {
    border-style: double;
    border-width: thick;
    text-align: center;
    border-color: saddlebrown;
    margin-left: 10px;
    margin-right: 65%;
    color: saddlebrown;
    background-color: silver;
}
.degrees {
    display: block;
    float: right;
    margin-right: 10px;
    border-style: double;
    border-width: thick;
    text-align: center;
    border-color: saddlebrown;
    color: saddlebrown;
    background-color: silver;
    width:23%;
}
.slogan {
    border-style: double;
    border-width: thick;
    text-align: center;
    border-color: saddlebrown;
    color: saddlebrown;
    background-color: silver;
    width: 65%;
    margin-left: 30%;
    margin-right:10px;
    margin-top:2%;
    margin-bottom: 20px;
}
.land {
    border-style: double;
    border-width: thick;
    text-align: center;
    border-color: saddlebrown;
    color: saddlebrown;
    background-color: silver;
    margin-left: 67%;
    margin-right:10px;
    margin-top: 4.5%;
}
.capital {
    display: block;
    float: left;
    border-style: double;
    border-width: thick;
    text-align: center;
    border-color: saddlebrown;
    color: saddlebrown;
    background-color: silver;
    width:23%;
    margin-left: 10px;
    margin-top:1%;
}
.navbar {
    overflow: hidden;
    background-color:saddlebrown;
    width: 20.8%;
    border-style:ridge;
    border-width: thick;
    border-color: dimgray;
    margin-left: 10px;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.subnav {
    float: left;
    overflow: hidden;
}
.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color:peru;
}
.subnav-content {
    display: none;
    position: absolute;
    left: 1;
    background-color:peru;
    width: 21.63%;
    z-index: 1;
}
.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}
.subnav:hover .subnav-content {
    display: block;
}